serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1 --rtscts=off
terminal_input console serial

set gfxmode="1024x768x32,1024x768,800x600x32,800x600,auto"
set gfxpayload="keep"
if loadfont /boot/grub/fonts/hellforge.pf2; then
	if terminal_output gfxterm serial; then
		set owrt_graphics="1"
	else
		terminal_output console serial
		set owrt_graphics="0"
	fi
else
	terminal_output console serial
	set owrt_graphics="0"
fi

set timeout="10"

if search --no-floppy --label kernel --set=owrt_local_boot; then
	set default="1"
else
	set default="0"
fi

menuentry "OpenWrt x86 Installer" {
	linux /boot/vmlinuz console=tty1 console=ttyS0,115200n8 rdinit=/init owrt.mouse=1 owrt.check-latest=1 owrt.console=dual
	initrd /boot/initramfs.cpio.gz
}

menuentry "Boot installed OpenWrt from local disk" {
	if [ -n "$owrt_local_boot" ]; then
		configfile ($owrt_local_boot)/boot/grub/grub.cfg
	elif search --no-floppy --label kernel --set=owrt_local_boot; then
		configfile ($owrt_local_boot)/boot/grub/grub.cfg
	else
		echo "No installed OpenWrt boot partition with label 'kernel' was found."
		sleep 5
	fi
}

menuentry "OpenWrt x86 Installer (serial 115200 8N1)" {
	terminal_output serial
	linux /boot/vmlinuz console=tty1 console=ttyS0,115200n8 rdinit=/init owrt.check-latest=1 owrt.console=ttyS0
	initrd /boot/initramfs.cpio.gz
}

menuentry "OpenWrt x86 Installer (failsafe)" {
	terminal_output console serial
	set gfxpayload="text"
	linux /boot/vmlinuz failsafe=true console=tty1 console=ttyS0,115200n8 rdinit=/init owrt.console=tty1
	initrd /boot/initramfs.cpio.gz
}
