/build/
/output/
/files-installer/usr/share/owrt-installer/manifest.json
/files-installer/usr/share/owrt-installer/target.img.gz
/files-installer/usr/share/owrt-installer/98-installer-network
/LOCAL_CONTEXT.md
